/* main.css */

body {

    font-family: Arial, sans-serif;
    text-align: center;
    background-image:url("https://i.gifer.com/g34j.gif");
    background-size: cover ;
    margin: 10;
    padding: 0;
}

header {
    margin: 50px;
    background-color: rgb(67, 39, 246);
    font-size:2svw;
    border-radius: 15px;
    display: grid;
}

.container {
    max-width: 600px;
    margin: 140px auto;
    padding: 60px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
    color: #eadcdc;
}

input[type="text"] {
    padding: 15px;
    font-size: 20px;
    width: 90%;
    margin-bottom: 30px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #45a049;
}

.options {
    margin-top: 20px;
}

#startButton{
       text-transform: uppercase;     text-decoration: none;     font-weight: 700;
}