

body {
    font-family:'Franklin Gothic Medium', sans-serif;
    text-align: center;
    background-image: url("https://mir-s3-cdn-cf.behance.net/projects/404/6874c1191717979.Y3JvcCwxMzgwLDEwODAsMjcwLDA.jpg");
    background-size: cover;
}

h1 {
    color: #333;
}

.score {
    margin-top: 200px;
}

.badge {
    display: inline-block;
    width: 100px;
    padding: 5px 10px;
    background-color: #354e6a;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

.choices {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.choice {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 0 50px;
    border-radius: 20%;
    border: 2px solid #3777bb;
}

.choice img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.choice:hover {
    background-color: #007bff;
}

.choice:hover img {
    opacity: 1;
}
.action-message {
    color: #3777bb;
    font-family: 'GAME', sans-serif;
    margin-top: 50px;
    font-size: 50px;
}
