/* play.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image:url("https://mir-s3-cdn-cf.behance.net/projects/404/6874c1191717979.Y3JvcCwxMzgwLDEwODAsMjcwLDA.jpg");
    background-size: cover; 
    margin-top: 180px;
    font-size: 40px;
}

h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(to right, #3ae70a, #064444);
    background-clip: text;
    color: transparent;
    animation: color-change 5s infinite alternate;
}
@keyframes color-change {
    0% {
        filter: hue-rotate(0deg);
      }
      100% {
        filter: hue-rotate(360deg);
      }
    }

.score {
    margin-bottom: 20px;
}

.badge {
    display: inline-block;
    width: 105px;
    padding: 15px 140px;
    background-color: #7953ea;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.choices {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.choice {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 0 25px;
    padding: 20px;
    border-radius: 50%;
    border: 2px solid #007bff;
}

.choice img {
    
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.choice:hover {
    background-color: #007bff;
}

.choice:hover img {
    opacity: 1;
}
.action-message {
    color:blue;
    font-size:40px;
    font-family: 'GAME', sans-serif;
    font-style:italic;
    font-weight:600;
    letter-spacing: 3px;
}
.scores {
    font-size: x-large;
    color: rgb(80, 117, 36);
}
